{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"ignorePatterns": ["*.js"],
	"rules": {
		"@typescript-eslint/explicit-member-accessibility": ["warn"],
		"@typescript-eslint/no-namespace": 0,
		"no-inner-declarations": 0
	}
}
